@import "../styles/variables";

.about_us_page {
	margin-top: 8rem;

	.section_1 {
		h2 {
			color: $primary;
		}
		.learn_more_btn {
			background-color: $primary;
		}
	}

	.section_2 {
		p {
			text-align: justify;
		}
	}

	.section_3 {
		p {
			text-align: justify;
		}
	}
}